<article>
  <mat-list>

    <mat-list-item>
      <span class="firstWord">Dica:</span> {{description}}.
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="firstWord">Número de letras:</span> {{palavraEscondida.length}}
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="firstWord">Palavra:</span> {{palavraEscondida}}
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="firstWord">Tentativas remanescentes:</span> <span class="red">{{tentativas}}</span>
    </mat-list-item>

  </mat-list>
</article>


